<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>    
  <appSettings>   
    <add key="ConfigFileLocation" value="D:\Users\Amibr\source\repos\MfilesObjectImporter\DefaultConfig.xml" />
    <add key="LogFIlePath" value="D:\D Documents\GNC\Whiting\WatchFolderForObjectImporter\Logs\" />
    <add key="LogLevel" value="Debug" />  
    <add key="DeleteMigratedFiles" value="true" />  
  </appSettings>
</configuration>